In [39]:
%run imports.py

In [ ]:
import pandas as pd

In [40]:
# Read file to work with
data13 = pd.read_csv("cpcb_dly_aq_delhi-2013.csv")

In [41]:
# Clean data (Some dates were in dd/mm/yyyy format while some were in dd-mm-yyyy) Cleaned all to the latter option
data13["Sampling Date"] = data13["Sampling Date"].apply(lambda x: x.replace("/", "-"))

In [42]:
data13

,Stn Code,Sampling Date,State,City/Town/Village/Area,Location of Monitoring Station,Agency,Type of Location,SO2,NO2,RSPM/PM10,SPM
0,144,1-3-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,59,243,NaN
1,144,1-4-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",5,77,264,NaN
2,144,1-5-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,68,280,NaN
3,144,15-01-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,90,335,NaN
4,144,16-01-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,90,362,NaN
5,144,17-01-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,74,172,NaN
6,144,29-01-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,99,330,NaN
7,144,30-01-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,87,413,NaN
8,144,15-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",9,68,135,NaN
9,144,16-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,103,134,NaN
10,144,19-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,115,159,NaN
11,144,20-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,111,167,NaN
12,144,21-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",8,110,154,NaN
13,144,25-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,89,145,NaN
14,144,26-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,80,140,NaN
15,144,27-02-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,94,158,NaN
16,144,3-8-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,113,171,NaN
17,144,3-9-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",6,78,154,NaN
18,144,3-12-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,103,173,NaN
19,144,13-03-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",8,97,212,NaN
20,144,14-03-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",5,74,141,NaN
21,144,19-03-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,95,149,NaN
22,144,20-03-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,81,154,NaN
23,144,21-03-13,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,52,132,NaN
24,144,4-2-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,56,86,NaN
25,144,4-3-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",3,72,154,NaN
26,144,4-4-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,55,140,NaN
27,144,4-9-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",5,80,204,NaN
28,144,4-10-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",9,85,151,NaN
29,144,4-11-2013,Delhi,Delhi,"N.Y. SCHOOL, Sarojini Nagar, Delhi",National Environmental Engineering Research In...,"Residential, Rural and other Areas",5,71,192,NaN
...,...,...,...,...,...,...,...,...,...,...,...
241,345,9-6-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,44,106,NaN
242,345,9-10-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,3,71,123,NaN
243,345,9-11-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,75,102,NaN
244,345,9-12-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,74,104,NaN
245,345,24-09-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,41,134,NaN
246,345,25-09-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,70,80,NaN
247,345,10-3-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,29,84,NaN
248,345,10-4-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,40,117,NaN
249,345,15-10-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,88,167,NaN
250,345,16-10-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,3,94,260,NaN
251,345,17-10-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,3,82,205,NaN
252,345,28-10-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,3,128,421,NaN
253,345,29-10-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,4,115,524,NaN
254,345,30-10-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,8,129,404,NaN
255,345,11-1-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,5,88,388,NaN
256,345,11-2-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,6,89,536,NaN
257,345,11-5-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,10,124,626,NaN
258,345,11-6-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,13,122,436,NaN
259,345,11-7-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,6,120,397,NaN
260,345,13-11-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,6,106,411,NaN
261,345,14-11-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,11,128,398,NaN
262,345,15-11-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,8,131,373,NaN
263,345,12-5-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,6,124,311,NaN
264,345,12-6-2013,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,13,125,395,NaN
265,345,17-12-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,105,670,NaN
266,345,18-12-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,4,104,480,NaN
267,345,19-12-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,4,117,363,NaN
268,345,24-12-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,3,110,296,NaN
269,345,25-12-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,2,24,286,NaN
270,345,30-12-13,Delhi,Delhi,"Mayapuri Industrial Area, Delhi",National Environmental Engineering Research In...,Industrial Area,11,72,239,NaN

In [43]:
# Parse data as datetime format
data13['Sampling Date'] = pd.to_datetime(data13['Sampling Date'])

In [44]:
# Save data as monthly periodic data (since we want to get a clear picture of the happenings every month
# instead of a jagged and prolific one)
data13["DateMonth"] = data13["Sampling Date"].dt.to_period("M")
type(data13["DateMonth"][0])

pandas._libs.period.Period

In [47]:
# Finally, taking mean for each month
# Also, dropping unwanted columns
data13 = data13.groupby("DateMonth").mean().drop("SPM", axis=1)

In [48]:
data13

             Stn Code       SO2         NO2   RSPM/PM10
DateMonth
2013-01    211.666667  4.666667   91.041667  345.500000
2013-02    211.666667  4.250000   96.583333  197.166667
2013-03    211.666667  5.125000   93.041667  229.750000
2013-04    209.040000  5.000000   88.680000  258.920000
2013-05    214.521739  3.260870  102.217391  334.956522
2013-06    145.000000  2.687500   76.187500  188.437500
2013-07    144.933333  2.133333   51.066667   89.666667
2013-08    211.666667  3.875000   61.208333   87.583333
2013-09    211.666667  2.625000   67.166667  104.583333
2013-10    211.666667  5.958333  102.041667  203.625000
2013-11    211.666667  7.666667  126.416667  342.250000
2013-12    211.666667  5.041667  102.708333  294.041667